{
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
